.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-bottom: 16px;

    .category {
        font-family: Satoshi, sans-serif;
        font-weight: 700;
        font-size: 24px;
    }

    .buttonsWrapper {
        display: flex;
        align-items: center;

        .button {
            font-family: Satoshi, sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #000000;
            margin-right: 16px;
        }

        .arrows {
            display: flex;
            justify-content: space-between;
            width: 56px;
        }
    }
}

@media (max-width: 450px) {
    .navbar {
        height: 50px;
        .buttonsWrapper {
            .button {
                margin-right: 0;
            }
        }
    }
}