.hotels {
    margin-bottom: 48px;

    .hotelsWrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .hotels {
        width: 80vw;
    }
}